<div class="card">
  <div class="card-header bg-white">
  </div>
</div>
<div class="mx-auto" style="width: 90%;">
  <div class="card text-center card border-white mb-0">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 row-cols-lg-1 g-4">
          <h1 class="card-text" align="center" > CRUD</h1>
          <div class="container">
              <div class="btn-group" role="group" aria-label="Basic example">
                  
                  <button (click)="Factura()" type="button" class="btn btn-outline-primary">Factura</button>
                  <button (click)="Cliente()" type="button" class="btn btn-outline-primary">Cliente</button>
                  <button (click)="Producto()" type="button" class="btn btn-outline-primary">Producto</button>
              </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>